# === CMake build ===
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
*.marks
*.txt
*.json
*.yaml

# === Compiled objects ===
*.o
*.a
*.so
*.so.*

# === Executables ===
a.out
*.out

# === VSCode metadata ===
.vscode/